.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
Div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.Box {
  
  display: flex;
  align-content: center;
}
