/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.fill {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 15px;
}
.Box {
  
  display: flex;
  align-content: center;
} */

/* 
.button {
  margin: 15px;
} */

.img {
  width: 200px;
}